<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    
    <%- include('./particals/_nav') %>

    <div id="formular" class="container">
        <h1 class="mt-5">Blogpost ändern</h1>    
        <%- include('./particals/_form') %>
    </div>

    <div id="viewpost">
        <% if(typeof(post) != 'undefined') { %>
            <%- include('./particals/_viewpost') %>
        <% } %>
    </div>

    <div class="container">
        <a href="#" id="deleteButton" class="btn btn-danger mt-4">Delete Post</a>
    </div>

    <script>
        // Funktion für den API-Aufruf nachdem editiert wurde
        function apiCall(method, id="") {

            // why do we need to use FormData here?
            // could not we just get the body-data from the form?
            // answer 02.08.2024:
            // FormData is a built-in object that allows you to encode and send form data as key-value pairs.
            // it is another way to retrieve the form data. 
            // Another reason I believe, is because we are sending a file without using routes from Express.
            // In express the data is being retrieved from the req.body, but here we are sending the data directly to the API.
            
            // Retrieve Data as Key-Value Pairs
            let data = new FormData(document.getElementById('meinFormular'));
            data.append('files', document.querySelector('input[type="file"]').files[0]);
            
            console.log(data);
            /* example result using PUT Method:
            {
                id: 5,
                title: 'Fünfter Blogeintrag',
                username: 'user50',
                date: '2024-06-05',
                text: 'Dies ist der Text des fünften Blogeintrags.'
            }
            */
           
            fetch(`/api/blog/${id}`, {
                method: method,
                body: data
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    if(method === 'DELETE') {
                        window.location.href = "/";
                        alert('Post wurde gelöscht')
                    } else {
                        alert('Post wurde geändert');
                        history.go(0); // this will reload the page
                        //window.location.href = `/blog/${data.data.id}`; // this approach is okay, but if data.data.id is not available, it will not reload the page!
                    }
                } else {
                    alert('Fehler beim Speichern');
                }
            });
        }

        // Eventlistener für den „Absenden“-Button
        if (document.getElementById('submitButton')){
            document.getElementById('submitButton').addEventListener('click', function(event) {
                // prevent the default action of the event
                event.preventDefault();
                apiCall('PUT', '<%= post.id %>');
            });
        }

        // Eventlistener für den „Löschen“-Button
        if (document.getElementById('deleteButton')){
            document.getElementById('deleteButton').addEventListener('click', function(event) {
                // prevent the default action of the event
                event.preventDefault();
                apiCall('DELETE', '<%= post.id %>');
            });
        }

        // Blendet das DIV-Element mit der id „formular“ aus
        document.getElementById('formular').style.display = 'none';

        // Eventlistener für den „Editieren“-Button
        if (document.getElementById('editPost')){
            document.getElementById('editPost').addEventListener('click', function(event) {
                // prevent the default action of the event
                event.preventDefault();
                document.getElementById('formular').style.display = 'block';
                document.getElementById('viewpost').style.display = 'none';
            });
        }

        // Eventlistener für den „Zurück zum View“-Button
        if (document.getElementById('viewButton')){
            document.getElementById('viewButton').addEventListener('click', function(event) {
                // prevent the default action of the event
                event.preventDefault();
                document.getElementById('formular').style.display = 'none';
                document.getElementById('viewpost').style.display = 'block';
            });
        }
        
        // adaptiert das Theme anhand des Betriebssystems
        document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'));
    </script>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
